body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

header {
    background: #333;
    color: white;
	 gap: 50px;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1.5rem;
	background-color: #444; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0,0,0,0.3)
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
}

.project {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

button {
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}